@model SMARTECOMM.Areas.Admin.Models.RegistrationViewModel

@{ Layout = "~/Areas/Admin/Views/Shared/SignIn_SignUp_Layout.cshtml"; }
<style>
    .login.login-4 .login-signin, .login.login-4 .login-signup, .login.login-4 .login-forgot {
        display: block !important;
    }

    .login.login-4.login-signin-on .login-signup {
        display: block !important;
    }
</style>
<div class="login-signin">
    <div class="mb-20">
        <h3>Sign Up</h3>
        <div class="text-muted font-weight-bold">Enter your details to create your account</div>
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { Area = "Admin" }))
    {
        <div>
             @Html.ValidationSummary(false, "Please fix the following error and then submit the form")
        </div>
        <div>
            <div class="form-group mb-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Name" })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                @*<input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Fullname" name="fullname" />*@
            </div>
        </div>

        <div>
            <div>
                <div class="form-group mb-5">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Phone number" })
                    @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                    @*<input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" name="password" />*@
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div class="form-group mb-5">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Email address" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        @*<input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Email" name="email" autocomplete="off" />*@
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div class="form-group mb-5">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control h-auto form-control-solid py-4 px-8", placeholder = "Password" })
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                @*<input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" name="password" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div class="form-group mb-5 text-left">
                                        <div class="checkbox-inline">
                                            <div>
                                                <label class="checkbox m-0">
                                                    <input type="checkbox" name="agree" />
                                                    <span></span>
                                                    I Agree the <a href="#" class="font-weight-bold ml-1">terms and conditions</a>.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-text text-muted text-center"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <div>
                        <div class="form-group d-flex flex-wrap flex-center mt-10">
                            <button id="kt_login_signup_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Sign Up</button>
                            <button id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>